@page "/article/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent article="article" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Article? article = new Article();

    protected async override Task OnParametersSetAsync()
    {
        article = await _client.GetFromJsonAsync<Article>($"{Endpoints.ArticlesEndpoint}/{id}");
    }
}
