@page "/expense/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent expense="expense" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Expense? expense = new Expense();

    protected async override Task OnParametersSetAsync()
    {
        expense = await _client.GetFromJsonAsync<Expense>($"{Endpoints.ExpensesEndpoint}/{id}");
    }
}
